<div class="help">
<h1>How to Use?</h1>

$ dummy = "0" * 32

<p>Welcome to the <strong>MLSS admin</strong>. 
Applications to the <a href="http://mlg.eng.cam.ac.uk/mlss09/">Machine Learning Summer School</a> are received from <a href="/submit_application">this form</a> and go into the <em>No reference</em> folder. The referee of this application is notified by email and asked to provide a reference using <a href="/submit_reference/$dummy">this form</a>. After the reference is received, the application goes into <em>To Review</em>.</p>

<p>Applications for people who are affiliated with the university (no reference needed, no travel or accomodation support) may be received from a <a href="/affiliated/submit_application">separate internal form</a> and go straight into <em>To Review</em>.</p>

<p>The main page to the admin is password protected. Anyone who has access to the admin can browse through the records but in order to rate / admit / reject applicants, you will need to <a href="/account/register">register</a>. All your reviews could then be found on <em>My Reviews</em>.</p>

<p>Questions / Suggestion please email <a href="mailto:alex.ksikes@gmail.com?subject=$url_quote('[MLSS ADMIN] feedback')">Alex Ksikes</a>.</p>
</div>
